pdf2image
pycryptodome
PyPDF2
boto3
pandas
Pillow
azure-ai-documentintelligence
azure-ai-formrecognizer
google-genai
django
dotenv
openai
langfuse
openinference-instrumentation-google-genai
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http